<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATH">./logs</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="File" fileName="${LOG_PATH}/quant-core.log"
                     filePattern="${LOG_PATH}/quant-core-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <Async name="AsyncFile" includeLocation="true">
            <AppenderRef ref="File"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncFile"/>
        </Root>

        <!-- 排查 Security 問題時才開啟，平時移除 -->
        <!--        <Logger name="org.springframework.security" level="DEBUG" additivity="false">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="AsyncFile"/>-->
        <!--        </Logger>-->

        <Logger name="com.hcy.quant" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncFile"/>
        </Logger>
    </Loggers>
</Configuration>